# ==========================================
# 1. Pastas de Evidências, Logs e Build (Locais)
# ==========================================
/target/
/logs/
/reports/
/evidencias/
/allure-results/

# ==========================================
# 2. Dados Sensíveis (Configurações com Senhas)
# ==========================================
# Ignora o arquivo que contém suas senhas e credenciais reais
src/main/resources/config/config.properties

# ==========================================
# 4. Arquivos Temporários do Sistema
# ==========================================
.DS_Store
Thumbs.db
*.dump
*.dumpstream
.classpath
.project